<nav>
  <ul>

    <li> <%= nav_link_to "Home", "home", page_Home_path %></li>
    <li><%=  nav_link_to "About Us","about_us", page_about_us_path %></li>
    <li><%=  nav_link_to  "Contact Us", "contact_us", page_contact_us_path %></li>
    <li><%=  nav_link_to  "Products", "products", page_products_path %></li>
    <li><%=  nav_link_to  "Newsletter", "newsletter", page_newsletter_path %></li>

    <li><%=  nav_link_to  "Calendar", "calendar", page_calendar_path %></li>
    <li><%=  nav_link_to  "Login", "login", page_login_path %></li>
  </ul>
</nav>