<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "YouTube" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


    <link rel="shortcut icon" href="images/favicon.gif" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>


    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag "application" %>


















  </head>

  <body>

  <div class="bg">

    <!--start container-->
    <div id="container">

      <!--start header-->
      <header>
        <li><a href="#">Contact</a></li>
        <%= link_to "Test Link", page_Home_path%>
        <!--start menu-->
        <%= render '/shared/nav' %>
        <!--end menu-->



        <!--end header-->
      </header>

      <!--start intro-->
      <section id="intro">
        <hgroup>
          <h1>"Simplicity is the ultimate sophistication"<span>- Leonardo da Vinci</span></h1>
          <h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin.
            Vestibulum condimentum  facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.</h2>
        </hgroup>
      </section>
      <!--end intro-->
      <!--start holder-->
      <div class="holder_content">
        <section class="group1">
          <h3>About us</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin.
            Vestibulum condimentum  facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy.</p>
          <a class="photo_hover3" href="#"><img src="images/picture1.jpg" width="240" height="214" alt="picture1"/></a>
          <a href="#"><span class="button">Read more</span></a>
        </section>
        <section class="group2">
          <h3>Services</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin.
            Vestibulum condimentum  facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy.</p>
          <a class="photo_hover3" href="#"><img src="images/picture2.jpg" width="240" height="214" alt="picture1"/></a>
          <a href="#"><span class="button">Read more</span></a>
        </section>
        <section class="group3">
          <h3>Latest news</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin.
            Vestibulum condimentum facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy.   </p>
          <a class="photo_hover3" href="#"><img src="images/picture3.jpg" width="240" height="214" alt="picture1"/></a>
          <a href="#"><span class="button">Read more</span></a>
        </section>
      </div>
      <!--end holder-->
      <!--start holder-->
      <div class="holder_content">
        <section class="group4">
          <h3>Latest article</h3>
          <article>
            <h4>22.08.2011  - Design to express </h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. Vestibulum condimentum facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.</p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. Vestibulum condimentum facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.</p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. Vestibulum condimentum facilisis nulla. In hac habitasse platea dictumst.</p>










          </article>
        </section>
      </div>










      <div class="holder_content">
        <section class="group1">
          <%= bootstrap_flash %>
          <%= yield %>
        </section>
      </div>












      <!--end holder-->
    </div>
    <!--end container-->

  <div class="container">











  </div>





    <!--start footer-->
    <footer>
      <div class="container">
        <div id="FooterTwo"> © 2015 LAUREN@LAUREN.MN </div>

      </div>
    </footer>
    <!--end footer-->
  </div>
  <!--end bg-->
  <!-- Free template distributed by http://freehtml5templates.com -->

  </body>
</html>
